body {
    background-color: blanchedalmond !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h2 {
    font-size: 40px !important;
}

h3 { 
    font-size: 30px !important;
}
